/* Increase the logo size */
.navbar-logo img {
  height: 50px !important;  /* Default is usually around 30px */
  width: 148px !important;  /* Default is usually around 30px */
}

/* Optional: Adjust the navbar height to fit the larger logo */
.navbar {
  min-height: 57px !important; 
}

.navbar-container {
  min-height: 60px !important; 
}

.navbar-brand {
  min-height: 60px !important; 
}

.navbar-brand-container {
  min-height: 60px !important; 
}

/* Customize Navbar Text */
.navbar-nav .nav-link {
  font-size: 18px !important;  /* Adjust this number for size */
  margin-left: 0px;           /* Adds space between words */
  margin-right: 12px;          /* Adds space between words */
}
