/* Increase the logo size */
.navbar-brand-container img {
  width: 148px !important;  /* Default is usually around 30px */
  height: auto;
}

/* Optional: Adjust the navbar height to fit the larger logo */
.navbar {
  min-height: 67px; 
}

/* Customize Navbar Text */
.navbar-nav .nav-link {
  font-size: 17px !important;  /* Adjust this number for size */
  margin-left: 0px;           /* Adds space between words */
  margin-right: 12px;          /* Adds space between words */
}
