/* Increase the logo size */
.navbar-logo img {
  height: 50px !important;  /* Default is usually around 30px */
  width: auto;       /* Maintains aspect ratio */
}

/* Optional: Adjust the navbar height to fit the larger logo */
.navbar {
  min-height: 80px !important; 
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-container {
  min-height: 60px !important; 
}

/* Customize Navbar Text */
.navbar-nav .nav-link {
  font-size: 18px !important;  /* Adjust this number for size */
  margin-left: 15px;           /* Adds space between words */
  margin-right: 15px;          /* Adds space between words */
}
